#!/bin/sh
# Start/stop mantidstats daemon
# chkconfig: - 60 80

### BEGIN INIT INFO
# Provides:          mantidstats
# Default-Start:
# Default-Stop:
# Required-Start:    
# Required-Stop:     
# Short-Description: Start mantidstats daemon at boot time
# Description:       Start/stop the Mantid Statistics Server.
### END INIT INFO


prog="mantidstats"
exec=__REPLACE_ME_EXEC__

# The default config file will be chosen down in start().
# If you want to override the default, replace "" with the full
# pathname of the file you want to use.
CONFIGFILE=""

USER=__REPLACE_ME_USER__

PIDDIR=__REPLACE_ME_PIDDIR__
PIDFILE=${PIDDIR}/${prog}.pid
RETVAL=0

# Source the function library
. /etc/rc.d/init.d/functions

# figure out which beamline we're on from the hostname
BEAMLINE=`hostname -s | sed 's/-.*//'`

start() {
	[ -x $exec ] || exit 5

	if [ -z $CONFIGFILE ]
	then	
		CONFIGFILE="/home/controls/${BEAMLINE}/mantidstats/mantidstats.conf"		
	fi

	echo -n "Starting Mantid statistics server: "
	daemon --pidfile="$PIDFILE" --user=$USER $exec -f $CONFIGFILE -p $PIDFILE
	RETVAL=$?
	echo  # add a newline after the [OK] or [FAILED] message
	return $RETVAL
}

stop() {
	echo -n "Shutting down Mantid statistics server: "
	killproc -p "$PIDFILE" $exec
	RETVAL=$?
	echo
	return $RETVAL
}

restart() {
	stop
	start
}

reload() {
	restart
}

rhstatus() {
	status -p "$PIDFILE" $exec
}


case "$1" in
	start)
		start
		;;
	stop)
		stop
		;;
	restart)
		restart
		;;
	status)
		rhstatus
		;;
	*)
	echo $"Usage: $0 {start|stop|restart|status}"
	exit 2
esac
exit $?

